{% extends "main.html" %}

{% block content %}
<div class="register-block">
    <p><a href="{{ request.META.HTTP_REFERER }}">Back</a></p>
    <form action="" method="post"> {% csrf_token %}
        <!-- <p> <input type="text" name="username" placeholder="Enter Username"></p>
        <p> <input type="text" name="age" placeholder="Enter Your Age"></p>
        <p> <input type="password" name="password"></p> -->

        {{form.as_p}}
        <input type="submit" value="Register">
    </form>
</div>
<div class="login-question-block">
    <p>Already registered? <a href="{% url 'login' %}">Login now</a></p>
</div>

{% endblock content %}